.image-background {
  height: 600px;
  background-image: url('../../assets/meal-two.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: #000000c2;
}
